order/src/main/resources/wsdl/order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
						 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
						 xmlns:tns="http://github.com/overz/"
						 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
						 targetNamespace="http://github.com/overz/">

	<types>
		<xsd:schema targetNamespace="http://github.com/overz/">
			<xsd:element name="orderRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orderId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="orderResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>

	<message name="OrderRequestMessage">
		<part name="parameters" element="tns:orderRequest"/>
	</message>

	<message name="OrderResponseMessage">
		<part name="parameters" element="tns:orderResponse"/>
	</message>

	<portType name="OrderServicePortType">
		<operation name="processOrder">
			<input message="tns:OrderRequestMessage"/>
			<output message="tns:OrderResponseMessage"/>
		</operation>
	</portType>


	<binding name="OrderServiceBinding" type="tns:OrderServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="processOrder">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="OrderService">
		<port name="OrderServicePort" binding="tns:OrderServiceBinding">
			<soap:address location="http://localhost:3000/TestService"/>
		</port>
	</service>

</definitions>